
* {
  font-family: 'Londrina Solid', cursive;
}
.fakeimg {
  height: 200px;
  background: #ffffff;
}

header {
  background-color: #5C015E;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  margin-top: 6px;

}

.fundo {
  background-color: rgb(178, 96, 255);
}

.barra {
  background-color: #A0FB00
}



img {
  width: 300px;
  height: 300px;
}

.promo {
  height: 200px;
  width: 736px;
}

p {
  margin-top: 25px;
}

footer {
  background-color: #5C015E;
  text-align: center;
  color: #ffffff;
}



@keyframes img-animation {
  4% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.img-animation {
  animation: img-animation 4s infinite;
}

.acai {
  width: 300px;
  height: 300px;
  margin-left: 500px;
  padding: 32px;
}

.barra{
  background-color: #A0FB00;
}
#topButton{
  background-color: #A0FB00;
  color: #ffffff;
  display: flex;
  justify-content: center ;
}
